html {
  position: relative;
  overflow-y: scroll;
}

body {
  margin-bottom: 50px;
}

.tikzcode {
  max-height: 20em;
}

.content {
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
}